// breakpoints
$desktop-for-eco_friendly: 1370px;
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;
$mobile-for-shop_items: 379px;

:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Open Sans", sans-serif;
    --red: " #d40d1f";
}

