.mark {
    position: absolute;
    right: 0;
    padding: 15rem 57rem;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24rem;
    line-height: 142%;
    color: #fff;
    background: rgba(255, 255, 255, 0.49);
    max-width: 174rem;
    bottom: 0rem;
}