.popular {
    padding-bottom: 50rem;
    &__title {
        font-family: var(--font-family);
        font-weight: 800;
        font-size: 22rem;
        line-height: 145%;
        letter-spacing: 0.14em;
        color: #fff;
        margin-bottom: 32rem;
    }
    &__films{
        display: flex;
        gap: 40rem;
    }
}